<div class="container">
    <div class="inner">
      <h3 class="align-center"><div>UC Clone</div> </h3>
      <div class="align-justify margin-left-10 margin-right-10">    
        The “UrbanClapClone” (name to be finalized) web application aims to aggregate utility services that consumers can access based on their current location. The application would enable the end-user to select their preferred service, book an appointment at a convenient time, pay the resultant charge and give feedback (for future reference). While, the primary criterion for listing the services would be the user’s location, the web application would also facilitate filtering based on service type, availability, cost, past experience (if they have utilized the service before) and user ratings. The application aims to be a one stop shop that caters to all the utility needs for the end user at a given location.
      </div>
    </div>
  </div>