
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form class="login-form">
        <h2 class="sr-only">User Login</h2>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" routerLink="/services" routerLinkActive="active" onclick="$('#loginModal').modal('hide')" type="submit">Log In</button>
        </div>
        <a href="#" class="sign-up" routerLink="/register" routerLinkActive="active" onclick="$('#loginModal').modal('hide')">Don't have an account? Sign Up.</a>
      </form>

    </div>
  </div>
</div>