.loginForm{
    margin-top: 80px;
}

.modal-content{
    border: none;
}

.login-form {
    max-width:400px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-form .sr-only {
    text-align: center;
}

.login-form .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
}

.login-form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

.login-form .btn-primary {
    background:white;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:32px;
    text-shadow:none;
    outline:none;
    color: #434a52;
    width: 100%;   
}



.login-form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#1e2833;
    color: white;
    border: 1px solid whitesmoke;
    outline:none;
}

.login-form .form-group input:hover {
    border-bottom:1px solid whitesmoke;
}

.login-form .form-group input:hover::-webkit-input-placeholder {
    color: whitesmoke;
    opacity: 0.8;
}

.login-form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
    margin-top: 10px;
}

.login-form .forgot:hover, .login-form .forgot:active {
    color: rgb(245, 229, 229);
    opacity:0.9;
    text-decoration:none;
}

.login-form .btn-primary:active {
    transform:translateY(1px);
}
  