<!-- Toolbar -->
<div class="toolbar bg-dark" role="banner">
  
  <span class="title"  routerLink="/home" routerLinkActive="active"><a>Urban Clap</a></span>
  <div class = toolbarButtons>
  <button type="submit" color="light" class="btn loginButton button-60" onclick="$('#exampleModalCenter').modal('show')"><a class="btn-title">Login</a></button>
  <button id="register" type="button" mdbBtn color="light" mdbWavesEffect class="loginButton button-60" routerLink="/register" routerLinkActive="active"><a class="btn-title">Register</a></button>
  </div>

</div>

<app-login></app-login>

<router-outlet></router-outlet>
