<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: large;

  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span><a class="title" routerLink="/home" routerLinkActive="active">Urban Clap</a></span>
  <div class = toolbarButtons>
  <button type="button" mdbBtn color="light" mdbWavesEffect class="loginButton"><a routerLink="/login" routerLinkActive="active">Login</a></button>
  <button type="button" mdbBtn color="light" mdbWavesEffect><a routerLink="/register" routerLinkActive="active">Register</a></button>
  </div>
  <!-- <ul>
  <li>
  <a routerLink="/app" routerLinkActive="active">app</a></li>
  <li>
  <a routerLink="/login" routerLinkActive="active">login </a> </li>
</ul> -->
</div>

<!-- <div class="center">
    <div class="service-container">
      <ul class="list-class">
        <li>
          <div class="list-class" title="Salon for Women">
            <div class="">
              <img class="Grid__image--IV0GE" src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757635235-1a139e.png" alt="" itemscope="" itemprop="image">
            </div>
              <span class="Grid__text--cEuUL">Salon for Women</span>
          </div>
        </li>
        <li>
          <div class="list-class" title="Hair, Skin &amp; Nails">
            <div class="LazyLoadImage__imageContainer--3EOU_ Grid__imageContainer--1Fs8D">
              <div class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
              </div>
              <img class="Grid__image--IV0GE" src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/supply/customer-app-supply/1635331606894-7b633f.png" alt="" itemscope="" itemprop="image">
            </div>
              <span class="Grid__text--cEuUL">Hair, Skin &amp; Nails</span>
          </div>
        </li>  
        <li>  
          <div class="list-class" title="Women's Therapies">
              <div class="LazyLoadImage__imageContainer--3EOU_ Grid__imageContainer--1Fs8D">
                <div class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                </div>
                <img class="Grid__image--IV0GE" src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/categories/category_v2/category_1312fb60.png" alt="" itemscope="" itemprop="image">
              </div>
              <span class="Grid__text--cEuUL">Women's Therapies</span>
          </div>
        </li>
        <li>
          <div class="list-class" title="Salon for Men">
            <div class="LazyLoadImage__imageContainer--3EOU_ Grid__imageContainer--1Fs8D">
              <div class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
              </div>
              <img class="Grid__image--IV0GE" src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757629780-2b2187.png" alt="" itemscope="" itemprop="image">
            </div>
            <span class="Grid__text--cEuUL">Salon for Men</span>
          </div>
        </li>
        <li>  
          <div class="list-class" title="Men's Therapies">
            <div class="LazyLoadImage__imageContainer--3EOU_ Grid__imageContainer--1Fs8D">
              <div class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
              </div>
              <img class="Grid__image--IV0GE" src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757731250-ba3308.png" alt="" itemscope="" itemprop="image">
            </div>
            <span class="Grid__text--cEuUL">Men's Therapies</span>
          </div>
        </li>
      </ul>
     </div>
</div>

<div class="service-list">
  <ul class="list-class">
    <li *ngFor="let data of servicesData">
      <button type="button">
      {{data["name"]}}
      </button>
    </li>
  </ul>
</div> -->

<nav>
  <!-- <ul>
    <li><a routerLink="/app" routerLinkActive="active">app</a></li>
    <li><a routerLink="/login" routerLinkActive="active">login Component</a></li>
  </ul> -->
</nav>


<router-outlet></router-outlet>
