<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class = "registerForm">
    <label for="name">Name : </label>
    <input id="name" type="text" formControlName="name">
  <br><br>

  <label for="user-name">Username : </label>
    <input id="user-name" type="text" formControlName="username">
  <br><br>
    <label for="pass-word">Password : </label>
    <input id="pass-word" type="password" formControlName="password"><br><br>
    <label for="email">Email : </label>
    <input id="email" type="email" formControlName="email">
  <br><br>
  <label for="gender">Gender : </label>
    <input id="gender" type="text" formControlName="gender">
  <br><br>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form> -->

<div class="wrapper">
  <div class="inner">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h3>User Registration</h3>
      <div class="form-wrapper">
        <input type="text" placeholder="Full Name" class="form-control" formControlName="name">
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Username" class="form-control" formControlName="username">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Email Address" class="form-control" formControlName="email">
        <i class="bi bi-envelope-fill"></i>
      </div>
      <div class="form-wrapper">
        <select name="" id="" class="form-control" formControlName="gender">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="femal">Female</option>
          <option value="other">Other</option>
        </select>
        <i class="bi bi-caret-down-fill" style="font-size: 10px"></i>
      </div>
      <div class="form-wrapper">
        <input id="pword" type="password" placeholder="Password" class="form-control" formControlName="password">
        <i *ngIf="pword" (click)="changeStatus('pword')" class="bi bi-eye-slash-fill clickable"></i>
        <i *ngIf="!pword" (click)="changeStatus('pword')" class="bi bi-eye-fill clickable"></i>
      </div>
      <div class="form-wrapper">
        <input id="cpword" type="password" placeholder="Confirm Password" class="form-control">
        <i *ngIf="cpword" (click)="changeStatus('cpword')" class="bi bi-eye-slash-fill clickable"></i>
        <i *ngIf="!cpword" (click)="changeStatus('cpword')" class="bi bi-eye-fill clickable"></i>
      </div>
      <button [disabled]="!registerForm.valid">Register
        <i class="bi bi-arrow-right-square-fill"></i>
      </button>
    </form>
  </div>
</div>
