<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class = "registerForm">
    <label for="first-name">First Name : </label>
    <input id="first-name" type="text" formControlName="firstname">
  <br><br>
  <label for="last-name">Last Name : </label>
    <input id="last-name" type="text" formControlName="lastname">
  <br><br>
  <label for="user-name">Username : </label>
    <input id="user-name" type="text" formControlName="username">
  <br><br>
    <label for="pass-word">Password : </label>
    <input id="pass-word" type="password" formControlName="password"><br><br>
    <label for="email">Email : </label>
    <input id="email" type="email" formControlName="email">
  <br><br>
  <label for="phone">Phone number : </label>
    <input id="phone" type="number" formControlName="phone">
  <br><br>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>
