<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class = "registerForm">
    <label for="name">Name : </label>
    <input id="name" type="text" formControlName="name">
  <br><br>

  <label for="user-name">Username : </label>
    <input id="user-name" type="text" formControlName="username">
  <br><br>
    <label for="pass-word">Password : </label>
    <input id="pass-word" type="password" formControlName="password"><br><br>
    <label for="email">Email : </label>
    <input id="email" type="email" formControlName="email">
  <br><br>
  <label for="gender">Gender : </label>
    <input id="gender" type="text" formControlName="gender">
  <br><br>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form> -->

<div class="wrapper">
  <div class="inner">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h3>User Registration</h3>
      <div class="form-wrapper full-name-container">
        <input type="text" placeholder="Full Name" class="form-control" formControlName="name">
      </div>
      <div class="form-wrapper username-container">
        <input id="username" type="text" placeholder="Username" class="form-control" formControlName="username" (mouseenter)="highlight('username')"  (mouseleave)="playdown('username')">
        <i (mouseenter)="highlight('username')"  (mouseleave)="playdown('username')" class="bi bi-person-fill"></i>
      </div>
      <div class="form-wrapper email-container">
        <input id="email" type="text" placeholder="Email Address" class="form-control" formControlName="email" (mouseenter)="highlight('email')"  (mouseleave)="playdown('email')">
        <i (mouseenter)="highlight('email')"  (mouseleave)="playdown('email')" class="bi bi-envelope-fill"></i>
      </div>
      <div class="form-wrapper gender-container">
        <select name="" id="gender" class="form-control" formControlName="gender" (mouseenter)="highlight('gender')"  (mouseleave)="playdown('gender')">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="femal">Female</option>
          <option value="other">Other</option>
        </select>
        <i (mouseenter)="highlight('gender')"  (mouseleave)="playdown('gender')" class="bi bi-caret-down-fill" style="font-size: 10px"></i>
      </div>
      <div class="form-wrapper password-container">
        <input id="pword" type="password" placeholder="Password" class="form-control" formControlName="password" (mouseenter)="highlight('pword')"  (mouseleave)="playdown('pword')">
        <i (mouseenter)="highlight('pword')"  (mouseleave)="playdown('pword')" *ngIf="pword" (click)="changeStatus('pword')" class="bi bi-eye-slash-fill clickable"></i>
        <i (mouseenter)="highlight('pword')"  (mouseleave)="playdown('pword')" *ngIf="!pword" (click)="changeStatus('pword')" class="bi bi-eye-fill clickable"></i>
      </div>
      <div class="form-wrapper confirm-pass-container">
        <input id="cpword" type="password" placeholder="Confirm Password" class="form-control" (mouseenter)="highlight('cpword')"  (mouseleave)="playdown('cpword')">
        <i (mouseenter)="highlight('cpword')"  (mouseleave)="playdown('cpword')" *ngIf="cpword" (click)="changeStatus('cpword')" class="bi bi-eye-slash-fill clickable"></i>
        <i (mouseenter)="highlight('cpword')"  (mouseleave)="playdown('cpword')" *ngIf="!cpword" (click)="changeStatus('cpword')" class="bi bi-eye-fill clickable"></i>
      </div>
      <div class="form-wrapper register-btn-container">
        <button [disabled]="!registerForm.valid">Register
          <i class="bi bi-arrow-right-square-fill"></i>
        </button>
      </div>
    </form>
  </div>
</div>
