<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/undraw_signup.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">You are one step away from making your life easier.</p>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

              <div class="form-group mb-4">
                <input type="text" formControlName="name" placeholder="Full Name">
              </div>

              <div class="form-group mb-4">
                <input type="text" formControlName="username" placeholder="Username">
              </div>

              <div class="form-group mb-4">
                <input type="email" formControlName="email" placeholder="E-mail">
              </div>

              <div class="form-group mb-4">
                <select class="form-group mb-4" formControlName="gender">
                  <option value="">Select gender</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>

              <div class="form-group last mb-4">
                <input type="password" formControlName="password" placeholder="Set Password">
              </div>

              <div class="form-group last mb-4">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
              </div>

              <!--
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
              </div>
              -->

              <input type="submit" value="Sign Up" class="btn btn-block btn-primary">

            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>