/* Banner */

#banner {
  background-attachment: scroll, fixed;
  background-color: #666;
  background-image: url("../../../assets/images/banner.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#banner :last-child {
  margin-bottom: 0;
}

#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  color: #fff;
}

#banner h2 {
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  color: #fff;
  min-width: 12em;
}

#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#banner input[type="submit"]:active,
#banner input[type="reset"]:active,
#banner input[type="button"]:active,
#banner .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#banner input[type="submit"].primary,
#banner input[type="reset"].primary,
#banner input[type="button"].primary,
#banner .button.primary {
  background: #fff;
  color: #666 !important;
}


/* List Styling */
ol, ul {
  list-style: none;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}
ul li {
  padding-left: 0.5em;
}

input[type="submit"], input[type="reset"], input[type="button"], .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #666;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}