<!-- Banner -->
<section id="banner">
  <h2>Urban Clap Pro</h2>
  <p>One Click booking for your home services. On Demand.</p>
  <ul class="actions special">
    <li *ngIf="!isLoggedIn; else loggedOut"><a href="/register" class="button primary">Sign Up</a></li>
    <ng-template #loggedOut>
      <li>
        <a href="/" class="button primary">My Bookings</a>
      </li>
    </ng-template>
    <li><a href="/services" class="button">Checkout Services</a></li>
  </ul>
</section>


<!-- Main Mid Container -->
<section id="main" class="container landing-main">

  <section class="box special">
    <header class="major">
      <h2>Introducing the ultimate platform</h2>
        <br/>
        <h2>
        for on demand services
      </h2>
      <p>We help customers book realiable & high quality services for your home on demand. 
        These services are delivered by highly trained professionals at your time and schedule.</p>
    </header>
    <span class="image featured"><img src="../../../assets/images/pics01.jpg" alt=""></span>
  </section>

  <section class="box special features">
    <div class="features-row">
      <section>
        <span class="icon solid major accent2"><i class=" bi bi-stars" style="font-size: 2.5rem;"></i></span>
        <h3>Quality Assurance</h3>
        <p>We use industry grade equipement for the best in class
          service. We pride in our quility of service and have
          you cannot go wrong choosing us.
        </p>
      </section>
      <section>
        <span class="icon solid major accent3"><i class=" bi bi-wallet2" style="font-size: 2.5rem;"></i></span>
        <h3>Affordable Prices</h3>
        <p>We cut hair not wallets. We clean homes not your accounts.
          We believe that living a conformtable life should not break any banks.
        </p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon solid major accent4"><i class=" bi bi-person-check" style="font-size: 2.5rem;"></i></span>
        <h3>Trained Professionals</h3>
        <p>
          Our service personnel go through long training before they are approaved
          to do your work. Whether its cleaning, plumbing, maintainance or grooming, 
          our experts will handle it easily.
        </p>
      </section>
      <section>
        <span class="icon solid major accent5"><i class=" bi bi-calendar-heart" style="font-size: 2rem;"></i></span>
        <h3>Schedule Friendly</h3>
        <p>
          We undestand that your schedule is important, which is why we 
          help you be as flexible as possible. Choose from the day and time you feel
          is the best for you in one click during our checkout.
        </p>
      </section>
    </div>
  </section>

</section>
