<!-- Banner -->
<section id="banner">
  <h2>Urban Clap Pro</h2>
  <p>One Click booking for your home services. On Demand.</p>
  <ul class="actions special">
    <li><a href="/signup" class="button primary">Sign Up</a></li>
    <li><a href="/services" class="button">Checkout Services</a></li>
  </ul>
</section>


<!-- Main Mid Container -->
<section id="main" class="container landing-main">

  <section class="box special">
    <header class="major">
      <h2>Introducing the ultimate mobile app
        <br>
        for doing stuff with your phone
      </h2>
      <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br>
        adipiscing nunc adipiscing. Condimentum turpis massa.</p>
    </header>
    <span class="image featured"><img src="../../../assets/images/pics01.jpg" alt=""></span>
  </section>

  <section class="box special features">
    <div class="features-row">
      <section>
        <span class="icon solid major accent2"><i class=" bi bi-stars" style="font-size: 2.5rem;"></i></span>
        <h3>Quality Assurance</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus
          iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
      <section>
        <span class="icon solid major accent3"><i class=" bi bi-wallet2" style="font-size: 2.5rem;"></i></span>
        <h3>Affordable Prices</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus
          iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon solid major accent4"><i class=" bi bi-person-check" style="font-size: 2.5rem;"></i></span>
        <h3>Trained Professionals</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus
          iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
      <section>
        <span class="icon solid major accent5"><i class=" bi bi-calendar-heart" style="font-size: 2rem;"></i></span>
        <h3>Schedule Friendly</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus
          iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
    </div>
  </section>

</section>
