
<!-- Modal -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form class="login-form">
        <h2 class="sr-only">User Login</h2>
        <div class="form-group username-container"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group password-container"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group login-btn-container">
          <button class="btn btn-primary btn-block" routerLink="/services" routerLinkActive="active" onclick="$('#loginModal').modal('hide')" type="submit">Log In</button>
        </div>
        <a href="#" class="sign-up" routerLink="/register" routerLinkActive="active" onclick="$('#loginModal').modal('hide')">Don't have an account? Sign Up.</a>
      </form>

    </div>
  </div>
</div> -->


<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Sign In</h3>
            <p class="mb-4">Welcome Clapper</p>
          </div>
          <form action="#" method="post">
            <div class="form-group first">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username">

            </div>
            <div class="form-group last mb-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
              
            </div>
            
            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                <input type="checkbox" checked="checked"/>
                <div class="control__indicator"></div>
              </label>
              <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
            </div>

            <input type="submit" value="Log In" class="btn btn-block btn-primary">
          </form>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>