<section>
    <div class="container">
        <h3>My Bookings</h3>
        <div class="booking-toggle">
            <button><a href="#">ONGOING</a></button>
            <button><a href="#">HISTORY</a></button>
        </div>

        <section class="" id="main">
            <div class="row">
                <div class="col-6 col-12-narrower" *ngFor="let service of myBookingsData; let i = index">
                    <section class="box special">
                        <h3>{{myBookingsName[i]}}</h3>
                        <h5>{{myBookingsDesc[i]}}</h5>
                        <p>{{service['date']}} {{service['start_time']}} to {{service['end_time']}}</p>
                    </section>
        
                </div>
            </div>
        </section>

        <p>You don't have any current bookings</p>

        <div>
            <button><a href="/services">Book a Service</a></button>
        </div>
    </div>
</section>