@media screen and (max-width: 1680px) {
  .row {
    margin-top: 0;
    margin-left: -2em;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    padding: 0 0 0 2em;
    box-sizing: border-box;
  }
}

.container {
  margin-top: 2em;
}

.row > .col-6 {
  width: 50%;
}

.box.special {
  text-align: center;
}

.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

.box .image.featured:first-child {
  border-radius: 6px 6px 0 0;
  margin-bottom: 3em;
  margin-top: -3em;
}

.box .image.featured {
  border-radius: 0;
  display: block;
  margin: 3em 0 3em -3em;
  position: relative;
  width: calc(100% + 6em);
}

.image {
  border-radius: 6px;
  border: 0;
  display: inline-block;
  position: relative;
}

.box .image.featured:first-child img {
  border-radius: 6px 6px 0 0;
}

.box .image.featured img {
  border-radius: 0;
  display: block;
  width: 100%;
}

.image img {
    border-radius: 6px;
    display: block;
}

ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

.box > :last-child {
  margin-bottom: 0;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  color: #777;
}

input[type="submit"], input[type="reset"], input[type="button"], .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #666;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}