          
          <!-- Header-->
          <header class="bg-dark py-5">
              <div class="container px-lg-5 my-5">
                  <div class="text-center text-white">
                      <h1 class="display-4 fw-bolder">Services List</h1>
                  </div>
              </div>
          </header>
          <!-- Section-->
          <section class="py-5">
              <div class="container px-lg-5 mt-5">
                  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                      <div *ngFor="let data of servicesData" class="col mb-5">
                          <div class="card h-100">
                           
                              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                      
                              <div class="card-body p-4">
                                  <div class="text-center">
                                  
                                      <h3 class="fw-bolder">{{data["name"]}}</h3>
                                      <h5 class="fw-bolder">{{data["username"]}}</h5>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
         
        



  