<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Services List</h1>
        </div>
    </div>
</header>
<section class="container" id="main">
    <div class="row">
        <div class="col-6 col-12-narrower" *ngFor="let service of servicesData">
            <section class="box special">
                <span class="image featured"><img src="../../../assets/images/pic02.jpg" alt="" /></span>
                <h3>{{service['name']}}</h3>
                <p>{{service['description']}}</p>
                <ul class="actions special">
                    <li><a href="#" class="button alt">Book Now</a></li>
                </ul>
            </section>

        </div>
    </div>
</section>